EXPRESS-PROJECT/node_modules

NASA-PROJECT/node_modules
NASA-PROJECT/server/.env
NASA-PROJECT/client/node_modules
NASA-PROJECT/server/node_modules

PERFORMANCE-EXAMPLE/node_modules

PLANETS-PROJECT/node_modules

THREADS/node_modules
node_modules

PACKAGE-EXAMPLE
firstp

#misc
.env
SECURITY_PROJECT/.env
SECURITY_PROJECT/key.pem
SECURITY_PROJECT/cert.pem